.list-group-item:hover {
    background: #1266F1;
    cursor: pointer;
}

.linkTitle {
    text-decoration: none;
    color: #333333;
}

.list-group-item:hover .linkTitle {
    text-decoration: none;
    color: #ffffff;
}
